<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!--
  <link rel="stylesheet" href="../css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/contect.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Hmright...</title>
</head>

<body>


  {{>navbar}}
  {{!-- main section start --}}
  <div class="container-fluid mt-5" id="homeid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>WE WILL HELP YOU TO</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <p>We Are the Team of <span class="bold-style">Professional Developer</span></p>
            <button class="btn-style">Read More</button>
          </div>
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="image/growth.svg">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- main section end --}}

  {{!-- about section start --}}
  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Grow Your business with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text">
            <figure>
              <img src="image/about.svg">
            </figure>
          </div>
          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>WE ARE THE PROFESSIONAL DEVELOPERS </h1>

            <p> Welcome to <span class="bold-style">Hmright</span> Your number one source for all thing we're dadicated
              to giving you the very best work with a focus on three characteristics ie: Dependablity customers services
              abd Uniqueness.</p>
            <button class="btn-style">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- about section end --}}

  {{!-- services section end --}}
  <div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">Our Servicess</h1>
        <p class="text-center sub-heading">Grow Your business with us</p>
        <div class="row">

          <div class="col-md-4">
            <div class="box">
              <div class="our-services settings">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                </div>
                <h4>Setting</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, vero?</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services speedup">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                </div>
                <h4>Speedup</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, vero?</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services privacy">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                </div>
                <h4>Privacy</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, vero?</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services backups">
                <div class="icon">
                  <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                </div>
                <h4>Backups</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, vero?</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services ssl">
                <div class="icon">
                  <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                </div>
                <h4>SSL</h4>
                <p>SSL is a security protocol that provides privacy, authentication, and integrity to Internet
                  communications</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services database">
                <div class="icon">
                  <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                </div>
                <h4>Database</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, vero?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- services section end --}}

  {{!-- maps section end --}}
  {{>maps}}
  {{!-- maps section end --}}

  {{!-- contect section end --}}

  <div class="container-fluid mt-5 contact-style" id="contectid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">contect Us</h1>
        <p class="text-center sub-heading">We are happy to help you</p>
        <div class="row">

          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <div class="form">
              <form action="/contect" method="post">
                <div class="text_feild">
                  <input type="text" name="name" required>
                  <span></span>
                  <label for="name">Name</label>
                </div>
                <div class="text_feild">
                  <input type="text" name="email" required>
                  <span></span>
                  <label for="email">Email Address</label>
                </div>
                <div class="text_feild">
                  <input type="number" name="number" required>
                  <span></span>
                  <label for="number">Number</label>
                </div>
                <div class="text_feild">
                  <input type="text" name="message" required>
                  <span></span>
                  <label for="message">Your message</label>
                </div>
                <button type="submit" class="btn-style" onclick="openPopup()" id="closeBtn">
                  submit
                </button>
                <div class="popup" id="popup">
                  <img src="image/checkmark-outline.svg" alt="">
                  <h2>Thank You</h2>
                  <p>Your Details has been Successfully submitted. Thanks!</p>
                  <button type="button" onclick="closePopup()">Close</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-12 hero-text">
            <figure class="block-540">
              <img src="image/contect.png" width="400px">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let popup = document.getElementById('popup');
    let closeBtn = document.getElementById('closeBtn');

    function openPopup(params) {
      popup.classList.add('open-popup');
      setTimeout(() => {
        closeBtn.style.display = "none";
      }, 350)
    }
    function closePopup(params) {
      popup.classList.remove('open-popup');
      closeBtn.style.display = "block";
    }
  </script>
  {{!-- contect section end --}}

  {{!--popup section end --}}
  {{!-- {{>popup }} --}}
  {{!--popup section end --}}


  <script src="./js/index.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>